/* В этом файле вы опишете значения переменных в разных цветовых схемах.
Придерживайтесь такого именования классов:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ не забудьте описать стили для изменения темы через медизапрос пользовательских предпочтений
*/

:root.theme-light {
  --mainFont: 'Inter-Variable';
  --mainFontWeight: 400;
  --mainFontWeightBold: 700;
  --accentFont: 'PressStart2P';
  --backgroundColor: #fff;
  --accentColor: #000;
  --backgroundGradient: repeating-linear-gradient(
    to bottom,
    #d3d3d3 0 2px,
    transparent 2px 4px
  );
  --backgroundGradient2: repeating-linear-gradient(
    to right,
    #d3d3d3 0 2px,
    transparent 2px 4px
  );
  --backgroundGradient3: linear-gradient(to bottom, #e7e7e7 0.1%, #1a1a1a);
  --textLabelShadow: #fff;
  --buttonTextColor: var(--backgroundColor, #fff);
  --heartContour: var(--accentColor);
  --sparksColor: #f00;
  --heartLikedColor: #f00;
  --floppyColor: var(--backgroundColor);
}

:root.theme-dark {
  --mainFont: 'Inter-Variable';
  --mainFontWeight: 460;
  --mainFontWeightBold: 785;
  --accentFont: 'PressStart2P';
  --backgroundColor: #000;
  --accentColor: #00cc14;
  --backgroundGradient: repeating-linear-gradient(
    to bottom,
    #000 0 2px,
    transparent 2px 4px
  );
  --backgroundGradient2: repeating-linear-gradient(
    to right,
    #000 0 2px,
    transparent 2px 4px
  );
  --backgroundGradient3: linear-gradient(to bottom, #007f0c 0.1%, #004306);
  --textLabelShadow: #000;
  --buttonTextColor: var(--accentColor, #fff);
  --heartContour: var(--accentColor);
  --sparksColor: #f00;
  --heartLikedColor: #f00;
  --floppyColor: var(--accentColor);
}

@media (prefers-color-scheme: dark) {

  :root {
    --mainFont: 'Inter-Variable';
    --mainFontWeight: 460;
    --mainFontWeightBold: 785;
    --accentFont: 'PressStart2P';
    --backgroundColor: #000;
    --accentColor: #00cc14;
    --backgroundGradient: repeating-linear-gradient(
      to bottom,
      #000 0 2px,
      transparent 2px 4px
    );
    --backgroundGradient2: repeating-linear-gradient(
      to right,
      #000 0 2px,
      transparent 2px 4px
    );
    --backgroundGradient3: linear-gradient(to bottom, #007f0c 0.1%, #004306);
    --textLabelShadow: #000;
    --buttonTextColor: var(--accentColor, #fff);
    --heartContour: var(--accentColor);
    --sparksColor: #f00;
    --heartLikedColor: #f00;
    --floppyColor: var(--accentColor);
  }
}
